<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:h2:D:/EPAM_project/GameIndustry/gameInd</property>
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
<!--        <property name="show_sql">true</property>-->
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>

        <mapping class="entity.Person"></mapping>
        <mapping class="entity.Company"></mapping>
        <mapping class="entity.Game"></mapping>
        <mapping class="entity.Genre"></mapping>

    </session-factory>
</hibernate-configuration>